{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am enthusiastic about analytical thinking, focus and living every moment to the fullest.</p>
        <p>Developing a new career where I can combine Python programming, Data Science and holding the space for people.</p>
        <p>I am based in Munich and feel as a true European.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}